@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');

:root {
  --font-geist: 'Geist', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-geist);
  background-color: #000;
  color: #ffd700;
  overflow-x: hidden;
}

.font-sans {
  font-family: var(--font-geist);
}

.star-wars-font {
  font-family: 'News Cycle', sans-serif;
}
